.review {
    margin-top: 10px;
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    margin-bottom: 20px; /* Menambah jarak dengan footer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1;
    max-width: 200px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item svg {
    width: 50px;
    height: 50px;
    fill: #fa314a;
    margin-bottom: 15px;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 14px;
    color: #666;
}

